<div class="container-full">
    <!-- Footer -->
<footer class="text-center text-lg-start  text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between  border-bottom">
      <!-- Left -->
   
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
             <i>  <img src="../pics/—Pngtree—men clothing tie shirt blue_3884474.png" class="logo" alt="">Fashion Store</i>
            </h6>
            <p>
             
"Discover premium men's shirt store offering stylish, versatile designs, curated for modern tastes. Quality fabrics, diverse styles, and timeless fashion choices."
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              CUSTOMER SERVICE
            </h6>
            <p>
              <a href="#!" class="text-reset">Contact us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Shipping & Returns</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Terms & Conditions</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Delivery</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              INFORMATION 
            </h6>
            <p>
              <a href="#!" class="text-reset">About</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Payments</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Size guide</a>
              
            </p>
            <p>
              <a href="/admin/login" class="text-reset">Admistrator</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Bangloor, KS 10012, India</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@fashionstore.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(125, 21, 21, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">fashionstore.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
